My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Fill the Details",
        "formFields": {
          "values": [
            {
              "fieldLabel": "name"
            },
            {
              "fieldLabel": "grade"
            },
            {
              "fieldLabel": "topic"
            },
            {
              "fieldLabel": "essay_text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -380,
        -80
      ],
      "id": "6af65e60-d208-4cc5-8ce1-40e0974db583",
      "name": "On form submission",
      "webhookId": "8fd6c433-fa67-483d-8bd5-c9390cf186ac"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert writing evaluator.\n\nEvaluate the following essay based on:\n1. Grammar and spelling\n2. Coherence and structure\n3. Creativity and originality\n4. Argument clarity\n5. Relevance to the topic\n\nAlso give a final score out of 100 and actionable feedback.\n\nEssay:\n{{ $json[\"essay_text\"] }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -220,
        -80
      ],
      "id": "ce21f672-b207-4fd0-8e97-3b27a3c30fca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -220,
        80
      ],
      "id": "51d41dd9-f690-42c4-9dd4-428c2e073d41",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QiZycjlDTJxc3BqQ",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "attributes": {
          "attributes": [
            {
              "name": "score",
              "description": "Extract the final score as a number out of 100"
            },
            {
              "name": "grammar_feedback",
              "description": "Extract feedback related to grammar and spelling."
            },
            {
              "name": "creativity_feedback",
              "description": "Extract feedback related to creativity and originality."
            },
            {
              "name": "relevance",
              "description": "Extract feedback about how relevant the essay is to the given topic."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        80,
        -80
      ],
      "id": "0771e64a-0355-4f2d-bb01-ae3cc6595fe7",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        80
      ],
      "id": "817ff020-a10a-4e27-ae94-5c47e1599229",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QiZycjlDTJxc3BqQ",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rajasri.r.cse.2023@snsce.ac.in",
        "subject": "Your Essay Evaluation Results",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        540,
        -80
      ],
      "id": "bd3ef1c6-fe3e-4302-9bea-f24425fb5fa5",
      "name": "Send a message",
      "webhookId": "fd86065c-a9b8-4223-87dd-b58404b3fd44",
      "credentials": {
        "gmailOAuth2": {
          "id": "RCpVD8tCBDVCbFa0",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0be08a3f-a7ca-494f-bc6d-88e8c9bcae3b",
              "name": "=emailbody",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        380,
        -80
      ],
      "id": "9b8486fb-37e1-4c11-ba96-9064baa0134f",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d9471bd-3ca6-44c9-953f-6b0053dc2a3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2059035bcad15d44b28e07931e92f9b05e079e988fdfbdc0634a9a7129d6045"
  },
  "id": "jMNW1HLYFhccIlz1",
  "tags": []
}